<%- include('templates/header'); -%>
        <main>
			<div id="content">
        <div style="margin: 40px;">
                <h2>All Our Products</h2>
                <div class="row"  id="images" style="margin-bottom: 10px;">

	                <%if (products.length > 0){ %>
                    <div class="row equal" style="margin: 10px;">

	                	<%for(var i = 0; i < products.length; i++) { %>
                    
							         <div class='col-sm'> 
			                    <div class='card' style='width: 18rem; margin: 10px;'> 
			                        <img class='card-img-top' src="<%=products[i].img_path%>" alt='Card image cap: "<%=products[i].product_name%>"'> 
			                            <div class='card-body'> 
			                                <h5 class='card-title'><%=products[i].product_name%></h5> 
			                                <p class='card-text'><%=products[i].details%></p> 
			                                <a href='product-details?productID=<%=products[i].product_id%>' class='btn btn-primary'>Product Details</a> 
			                            </div> 
			                     </div> 
			                 </div>
                      
                      <%if (i+1 % 3 == 0){ %>
                        </div>
                        <div class="row" style="margin: 10px;">

                      <%}%>


	                	<%}%>
                    </div>
	            	  <%} else {%>

		              <% } %>

		            </div>
        </div>
		        <div style="background-color: #f8f9fa">
                <h2 style="margin-top: 40px; margin-left:40px; margin-right: 40px; margin-bottom: 15px;"></br>About Us</h2>
                	<h5 style="margin-top: 15px; margin-left:40px; margin-right: 40px; margin-bottom: 50px;">In Fall of 2020 a group of self-proclaimed "computer geeks" met at CSU Monterey Bay. They found they all had a common problem. Where could they buy inexpensive, yet reliable computer parts? This was the beginning of bits & bots a computer parts web-store that provides customers with the best priced products without having to worry about their reliability.</br></br></h5>
                </div>
                <div class="text-center">
                <h2 style="margin: 55px;">Our Team</h2></div>
                <div class="row" style="margin: 40px;">
                	<div class="col-sm-3">
                	    <div class="text-center">
                		<img src="images/OurTeam/Asset 1.png" id="team" style="margin-left: 26px;">
                		<h5>Federico Rubino</h5>
                		<p>Project Manager,</br>Senior Software Engineer</p>
                		</div>
                	</div>
  						<div class="col-sm-3">
              <div class="text-center">
  						<img src="images/OurTeam/Asset 2.png" id="team" style="margin-left: 26px;">
  						<h5>Anna Stubler</h5>
  						<p>Senior UX Designer,</br>Front-end Programmer</p>
  						</div>
  					</div>
  					<div class="col-sm-3">
  					    <div class="text-center">
  						<img src="images/OurTeam/Asset 3.png" id="team" style="margin-left: 26px;">
  						<h5>Jonathan Welham</h5>
  						<p>Database Specialist,</br> Senior Software Engineer</p>
  						</div>
  					</div>
  					<div class="col-sm-3">
  						<div class="text-center">
  						<img src="images/OurTeam/Asset 4.png" id="team" style="margin-left: 26px;">
  						<h5>Natalia Gill</h5>
  						<p>Senior Software Engineer,</br>Master Debugger</p>
  						</div>
  					</div>
                </div>
			</div>
        </main>

<%- include('templates/footer'); -%>
