<%- include('templates/header'); -%>
        <main>
            <div id="contentProduct" style="margin: 40px;">
	            <div class="row">
	            	<div id="image">
	            		<img id="largeImage" src="<%=product[0].img_path%>" >
	            	</div>
		            <div style="margin-top:15px; margin-left: 10px;">
		            	<h4><%=product[0].product_name%></h4>
			            <p><%=product[0].details%></p>
		            </div>
	            </div>
	            <div class="row">
	            		<div style="margin-bottom:19px; margin-left: 10px;">Price: $<%=product[0].price%></div>
	            </div>
	            <div class="row">
	            		<div style="margin-bottom:19px; margin-left: 10px;">Current Inventory: <%=product[0].inventory%></div>
	            </div>
	            <form action='/add-to-cart?productID=<%=product[0].product_id%>' method="POST">
		            <div class="row">
		            		<label for="quantity"  style="margin-left: 10px; margin-right:4px; margin-top: 4px">Qty:</label>
							<input style="margin-right: 16px;" type="number" id="quantity" name="quantity" min="1" max="<%=product[0].inventory%>" value="1" required>
		            		<button type="submit" class='btn btn-primary'>Add To Cart</button> 
		            </div>
	            </form>
	            <p></br></br></p>
            </div>
        </main>

<%- include('templates/footer'); -%>